doctype html
html
  head
    title Satua Health
    
  body

    ul#tiramenu.cloak
      li
        a(href="#") Rants
      li
        a(href="#") Lab
      li
        a(href="#") Contato
    div.f-grid
      div#left.pane
        div#sand-king.epicenter-ish
        
          h1#big-ass-title Satya Health          
          ul
            li
              a(href="//www.linkedin.com/company/satya-health", alt="linkedin", target="_blank"): i(aria-hidden="true").fa.fa-linkedin
            li
              a(href="//www.instagram.com/satya.health/", alt="instagram", target="_blank"): i(aria-hidden="true").fa.fa-instagram
            li
              a(href="//x.com/satya_health", alt="twitter", target="_blank"): i(aria-hidden="true").fa.fa-twitter
            li
              a(href="//github.com/satyahealth", alt="github", target="_blank"): i(aria-hidden="true").fa.fa-github-alt
            li
              a(href="//codepen.io/satyahealth/", alt="", target="_blank"): i(aria-hidden="true").fa.fa-codepen
      div#right.pane
        // right pane content